* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

i {
    font-style: normal;
}

p {
    margin: 0px 0px 0px;
}

dl {
    margin-bottom: 0px;
}

div,
header,
nav,
footer,
section,
ul,
dl,
dd,
article {
    display: flex;
}

#detailBox {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;

    header {
        width: 100%;
        height: 110px;
        flex-direction: column;
        border-bottom: 1px solid #ebebeb;
        align-items: center;

        section:nth-child(1) {
            width: 100%;
            height: 59px;
            border-bottom: 1px solid #f5f5f5;

            img {
                width: 100%;
                height: 100%;
            }
        }

        section:nth-child(2) {
            flex: 1;
            height: 100%;
            width: 83%;
            display: flex;
            justify-content: space-between;

            .head_leftinfo {
                width: 425px;
                height: 100%;
                justify-content: space-between;
                align-items: center;
                font-size: 14px;

                p:nth-child(1) {
                    width: 144px;
                    height: 50%;
                    display: flex;
                    align-items: center;

                    span:nth-child(1) {
                        color: #6c6c6c;
                    }

                    span:nth-child(2) {
                        color: #ef3664;
                    }
                }
            }

            .head_rightinfo {
                width: 620px;
                height: 100%;
            }
        }
    }

    nav {
        width: 100%;
        height: 100px;
        justify-content: center;
        border-bottom: 1px solid #ebebeb;

        section {
            width: 83%;
            height: 100%;

            dl {
                align-items: center;
                margin-bottom: 0px;

                dt {
                    width: 138px;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                dd:nth-of-type(1) {
                    width: 294px;
                    height: 100%;
                    flex-direction: column;

                    p:nth-child(1) {
                        width: 100%;
                        height: 55px;
                        font-size: 23px;
                        color: #333333;
                        padding: 30px 0px 0px 26px;
                    }

                    p:nth-child(2) {
                        flex: 1;
                        width: 100%;
                        font-size: 15px;
                        display: flex;

                        span:nth-child(1) {
                            width: 175px;
                            padding: 0px 11px;

                            a {
                                color: #999999;
                                padding: 0px 5px;
                                border-right: 1px solid #999999;
                            }
                        }

                        span:nth-child(2) {
                            flex: 1;
                            text-align: center;

                            a {
                                width: 78px;
                                height: 28px;
                                line-height: 28px;
                                display: block;
                                background-color: #ff497a;
                                color: #ffffff;
                                border-radius: 15px;
                            }
                        }
                    }
                }

                dd:nth-of-type(2) {
                    width: 508px;
                    height: 100%;
                    justify-content: space-evenly;
                    align-items: center;

                    p {
                        display: flex;
                        flex-direction: column;

                        span:nth-child(1) {
                            width: 100%;
                            height: 35px;
                            text-align: center;
                            line-height: 35px;
                            font-size: 17px;
                            color: #ff4d7e;
                        }

                        span:nth-child(2) {
                            flex: 1;
                            font-size: 16px;
                            color: #6c6c6c;
                        }
                    }

                    p:nth-last-child(1) {
                        color: #9c9c9c;
                    }
                }

                dd:nth-of-type(3) {
                    flex: 1;
                    width: 650px;
                    height: 100%;
                    margin-left: 110px;
                    justify-content: flex-end;
                    align-items: center;

                    .rightSearch {
                        width: 560px;
                        height: 49px;

                        div:nth-of-type(1) {
                            width: 87px;
                            height: 100%;
                            color: #333333;
                            font-size: 15px;
                            justify-content: center;
                            align-items: center;
                            background-color: #f5f5f5;
                            border: 1px solid #e5e5e5;
                        }

                        input {
                            flex: 1;
                            border: none;
                            border-top: 1px solid #e5e5e5;
                            border-bottom: 1px solid #e5e5e5;
                        }

                        button {
                            width: 99px;
                            border: none;
                            color: #ffffff;
                            font-size: 19px;
                            background-color: #f96388;

                            i {
                                font-size: 19px;
                            }
                        }

                        div:nth-of-type(2) {
                            width: 56px;
                            height: 56px;
                            margin-left: 30px;
                            border-radius: 50%;
                            position: relative;
                            justify-content: center;
                            align-items: center;
                            border: 1px solid #e9e9e9;

                            i {
                                font-size: 19px;
                            }

                            i:nth-child(2) {
                                width: 25px;
                                height: 19px;
                                top: -9px;
                                right: -7px;
                                color: #ffffff;
                                font-size: 11px;
                                text-align: center;
                                line-height: 19px;
                                position: absolute;
                                border-radius: 15px;
                                background-color: #ef3664;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        flex: 1;
        width: 83%;
        height: 100%;
        flex-direction: column;

        section:nth-child(1) {
            width: 100%;
            height: 61px;
            justify-content: flex-start;
            align-items: center;

            div {
                width: 343px;
                height: 25px;
                align-items: center;

                p {
                    font-size: 15px;
                    color: #9c9ca9;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }

        section:nth-child(2) {
            flex: 1;
            justify-content: space-between;
            .footerLeftContss {
                flex: 1;
                flex-wrap: wrap;
                flex-direction: column;
                .footerLeftindomCont {
                    width: 100%;
                    justify-content: space-between;

                    article:nth-child(1) {
                        width: 600px;
                        height: 849px;
                        flex-direction: column;
                        .leftLoupePage {
                            flex: 1;
                            img {
                                width: 100%;
                                height: 100%;
                                display: block;
                            }
                            .loupeBox {
                                width: 100%;
                                // margin: 50px;
                                display: flex;
                                flex-direction: column;
                                position: relative;
                                .loupeShow {
                                    width: 100%;
                                    height: 624px;
                                    position: relative;
                                    .loupeMask {
                                        width: 50%;
                                        height: 50%;
                                        background-color: yellow;
                                        opacity: 0.4;
                                        position: absolute;
                                        top: 0px;
                                        left: 0px;
                                        display: none;
                                    }
                                }
                                .loupeList {
                                    width: 100%;
                                    flex: 1;
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    box-sizing: border-box;
                                    padding: 20px;
                                    p {
                                        width: 22%;
                                        height: 83%;
                                        border: 1px solid #d2d3d2;
                                        margin-right: 10px;
                                    }
                                    p.loupeActive {
                                        border-color: red;
                                    }
                                }
                                .loupeEnlarge {
                                    width: 400px;
                                    height: 400px;
                                    position: absolute;
                                    top: 0;
                                    left: 101%;
                                     display: none; 
                                }
                            }

                        }

                        div:nth-child(2) {
                            width: 100%;
                            height: 50px;
                            justify-content: space-between;
                            align-items: center;

                            p {
                                font-size: 16px;
                                color: #6c6c6c;

                                span {
                                    padding: 0px 6px;

                                    i {
                                        color: #fc8f91;
                                        font-weight: bold;
                                    }
                                }
                            }

                            p:nth-child(1) {}

                            p:nth-child(2) {}
                        }
                    }

                    article:nth-child(2) {
                        width: 805px;
                        height: 1023px;
                        justify-content: center;
                        dl {
                            width: 750px;
                            height: 100%;
                            flex-direction: column;
                            color: #6c6c6c;
                            font-size: 18px;

                            dd {
                                align-items: center;

                                span:nth-child(1) {
                                    width: 112px;
                                    text-align: center;
                                }
                            }

                            dd:nth-child(1) {
                                height: 81px;
                                font-size: 22px;
                                color: #5a5d5a;
                            }

                            dd:nth-child(2) {
                                height: 91px;
                                background-color: #fbf1f0;

                                span:nth-child(2) {
                                    color: #ff4640;
                                    font-size: 25px;
                                    font-weight: bold;
                                }
                            }

                            dd:nth-child(3) {
                                height: 78px;
                                flex-direction: column;
                                align-items: flex-start;
                                border-bottom: 1px dashed #e5e5e5;

                                span {
                                    display: flex;
                                    width: 63px;
                                    justify-content: flex-start;
                                    align-items: center;
                                    font-size: 14px;
                                }

                                span:nth-child(1) {
                                    width: 100%;
                                    height: 50%;

                                    i:nth-child(1) {
                                        width: 63px;
                                        margin-left: 24px;
                                    }
                                }

                                span:nth-child(2) {
                                    flex: 1;
                                    width: 100%;
                                    height: 50%;
                                }
                            }

                            dd:nth-child(4) {
                                height: 76px;
                                border-bottom: 1px dashed #e5e5e5;

                                span {
                                    font-size: 15px;
                                    color: #333333;
                                    width: 203px;
                                    text-align: left;
                                }

                                span:nth-child(1) {
                                    padding: 0px 9px;
                                    margin-left: 24px;
                                }
                            }

                            dd:nth-child(5) {
                                border-bottom: 1px dashed #e5e5e5;
                                height: 73px;

                                span:nth-child(1) {
                                    width: 107px;
                                }

                                span:nth-child(2) {
                                    width: 152px;
                                    height: 38px;
                                    display: flex;
                                    margin-left: 12px;
                                    justify-content: space-between;

                                    i {
                                        width: 67px;
                                        height: 100%;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                    }

                                    i:nth-child(1) {
                                        border: 1px solid #fb658a;
                                    }

                                    i:nth-child(2) {
                                        border: 1px solid #e5e5e5;
                                    }
                                }
                            }

                            dd:nth-child(6) {
                                flex: 1;
                                align-items: center;
                                border-bottom: 1px dashed #e5e5e5;

                                div {
                                    height: 260px;
                                    flex-direction: column;
                                    margin-left: 31px;

                                    p {
                                        width: 642px;
                                        height: 33.3%;
                                        display: flex;
                                        align-items: center;

                                        span {
                                            text-align: center;
                                        }

                                        span:nth-child(1) {
                                            width: 48px;
                                        }

                                        span:nth-child(2) {
                                            width: 57px;
                                            font-weight: bold;
                                            color: #333333;
                                            margin-left: 43px;
                                            text-align: left;
                                        }

                                        span:nth-child(3) {
                                            width: 200px;
                                        }

                                        span:nth-child(4) {
                                            flex: 1;
                                            text-align: center;
                                            margin-left: 218px;

                                            i {
                                                font-size: 24px;
                                                background-color: #bbb;
                                                color: #ededed;
                                                cursor: pointer;
                                            }
                                        }
                                    }
                                }
                            }

                            dd:nth-child(7) {
                                height: 314px;
                                justify-content: center;
                                align-items: center;

                                .bottomContss {
                                    width: 654px;
                                    height: 252px;
                                    flex-direction: column;
                                    position: relative;

                                    p {
                                        width: 100%;
                                        height: 25%;
                                        display: flex;
                                        align-items: center;

                                        span {
                                            color: #6c6c6c;
                                            font-size: 14px;
                                            text-align: left;
                                        }

                                        span:nth-child(1) {
                                            width: 74px;
                                        }
                                    }

                                    p:nth-child(1) {

                                        span:nth-child(2),
                                        span:nth-child(3),
                                        span:nth-child(4) {
                                            width: 153px;
                                            height: 49px;
                                            color: #ef3664;
                                            font-size: 17px;
                                            line-height: 49px;
                                            text-align: center;
                                            border: 1px solid #fec7d5;
                                            background-color: #fff2f5;
                                        }

                                        span:nth-child(3),
                                        span:nth-child(4) {
                                            margin-left: 13px;
                                        }
                                    }

                                    p:nth-child(2) {
                                        span:nth-child(2) {
                                            width: 152px;
                                            height: 50px;
                                            text-align: center;
                                            line-height: 50px;
                                            color: #ffffff;
                                            font-size: 18px;
                                            background-color: #fb658a;
                                        }
                                    }

                                    p:nth-child(3) {
                                        span:nth-child(2) {
                                            font-size: 15px;
                                            color: #333333;
                                        }
                                    }

                                    p:nth-child(4) {

                                        span:nth-child(2),
                                        span:nth-child(3),
                                        span:nth-child(4) {
                                            font-size: 15px;
                                            color: #6c6c6c;
                                            width: 97px;
                                            height: 27px;
                                            text-align: left;
                                            line-height: 27px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .addSomeInfos{
                    width: 100%;
                    flex-direction: column;
                    .addInfoTop{
                        width: 98%;
                        height: 405px;
                        flex-direction: column;
                        border: 1px solid #e5e5e5;
                        .shopListTop{
                            height: 47px;
                            justify-content: space-between;
                            align-items: center;
                            padding: 0px 36px;
                            p:nth-child(1){
                                font-size: 25px;
                                color: black;
                                font-weight: bold;
                            }
                            .pagination{
                                font-size: 19px;
                                color: #9c9c9c;
                                width: 161px;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                            }
                        }
                        .shopListPop{
                            flex: 1;
                            justify-content: center;
                            align-items: center;
                            ul{
                                width: 95%;
                                height: 320px;
                                justify-content: space-between;
                                align-items: center;
                                li{
                                    width: 251px;
                                    height: 100%;
                                    position: relative;
                                    img{
                                        width: 100%;
                                        height: 100%;
                                    }
                                    p{
                                        position: absolute;
                                        bottom: 0px;
                                        left: 0px;
                                        opacity: 0.8;
                                        height: 10%;
                                        width: 100%;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        font-size: 18px;
                                        font-weight: bold;
                                        color: #ef3664;
                                        background-color: #e2e0dd;
                                    }
                                }
                            }
                        }
                    }
                    .addInfoBottom{
                        width: 100%;
                        margin-top: 37px;
                        height: 100%;
                        justify-content: space-between;
                        .leftAddInfoss{
                            width: 25%;
                            height: 100%;
                          
                            dl{
                                width: 100%;
                                flex-direction: column;
                                align-items: center;
                              dt{
                                  width: 100%;
                                  height: 50px;
                                  background-color: #f5f5f5;
                                  font-size: 18px;
                                  color: 3333333;
                                  padding: 14px 27px;
                                  
                              }
                              dd{
                                  width: 80%;
                                  height: 288px;
                                  margin-top: 17px;
                                  flex-direction: column;
                                  border: 1px solid #f5f5f5;
                                  img{
                                      width: 100%;
                                      height: 90%;
                                  }
                                  p{
                                      height: 10%;
                                      display: flex;
                                      font-size: 17px;
                                      justify-content: space-evenly;
                                      align-items: center;
                                      
                                      span:nth-child(1){
                                        color: #ef3664;
                                        font-weight: bold;
                                        text-align: left;
                                        padding: 0px 11px;
                                        margin-left: -6px;
                                      }
                                      span:nth-child(2){
                                          width: 121px;
                                          font-size: 15px;
                                          margin-left: 56px;
                                        color: #333333;
                                        overflow: hidden;
                                        white-space: nowrap;
                                        text-overflow: ellipsis;
                                      }
                                  }
                              }
                            }
                        }
                        .rightAddInfoss{
                            width: 73%;
                            height: 100%;
                            dl{
                                width: 95%;
                                height: 100%;
                                flex-direction: column;
                                border: 1px solid #e5e5e5;
                                dd{
                                    border: 1px solid #e5e5e5;
                                }
                                dd:nth-child(1){
                                    width: 100%;
                                    height: 50px;
                                    background-color: #f5f5f5;
                                    font-size: 18px;
                                    color: 3333333;
                                    padding: 14px 27px;
                                }
                                dd:nth-child(2){
                                    width: 100%;
                                    height: 107px;
                                    align-items: center;
                                    p{
                                        width: 100%;
                                        height: 60px;
                                        display: flex;
                                        flex-wrap: wrap;
                                        span{
                                            width: 328px;
                                            height: 50%;
                                            font-size: 15px;
                                            color: #6c6c6c;
                                            text-align: center;
                                        }
                                    }
                                }
                                dd:nth-child(3){
                                    flex-direction: column;
                                    h3{
                                        height: 93px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        font-size: 30px;
                                        color: #6c6c6c;
                                    }
                                    img{
                                        width: 100%;
                                        height: 1100px;
                                        margin-top: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .footerRightContss {
                width: 250px;
                // height: 913px;
                flex-direction: column;
                article:nth-child(1) {
                    width: 100%;
                    height: 425px;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #ebebeb;

                    .indomTextmix {
                        width: 215px;
                        height: 100%;
                        flex-direction: column;
                        justify-content: space-evenly;
                        padding: 17px 17px;

                        dd {
                            width: 100%;
                            height: 34px;
                            font-size: 15px;
                            color: #6c6c6c;

                            p {
                                width: 215px;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }
                        }

                        dd:nth-last-child(2) {
                            i {
                                color: #ef3664;
                            }
                        }

                        dd:nth-last-child(1) {
                            flex: 1;
                            justify-content: space-between;

                            p {
                                width: 87px;
                                height: 82%;
                                font-size: 15px;
                                color: #333333;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border: 1px solid #ebebeb;
                            }
                        }
                    }

                }

                article:nth-child(2) {
                    flex: 1;

                    ul {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        margin-top: 20px;
                        flex-direction: column;

                        h6 {
                            margin-bottom: 0px;
                        }

                        li {
                            width: 100%;
                            height: 415px;
                            border: 1px solid #f5f5f5;
                            display: flex;
                            margin-top: 20px;
                            flex-direction: column;
                            background-color: #ffffff;

                            img {
                                width: 100%;
                                height: 90%;
                            }

                            p {
                                width: 100%;
                                height: 10%;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                padding: 0px 11px;

                                span:nth-child(1) {
                                    font-size: 16px;
                                    font-weight: bold;
                                    color: #ef3664;
                                }

                                span:nth-child(2) {
                                    font-size: 15px;
                                    color: #333333;
                                }
                            }
                        }

                        li:nth-of-type(1) {
                            margin-top: 0px;
                        }
                    }
                }


            }
        }

    }
}

a:hover {
    text-decoration: none;
}